.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
  list-style: none;
  align-items: center;
}

.navbar__mainItems {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 30rem;
}

.navbar__buttons {
  display: flex;
  gap: 12px;
}

.navbar__buttons button {
  font-family: inherit;
  border-radius: var(--border-radius);
  padding: 1rem 3rem;
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s;
}

.navbar__logOutButton {
  background-color: var(--alert-color);
}

.navbar__logOutButton:hover {
  background-color: var(--alert-color-darker);
}

.navbar__newProblemButton {
  background-color: var(--secondary-color);
}

.navbar__newProblemButton:hover {
  background-color: var(--secondary-color-darker);
}

@media (max-width: 1000px) {
  .navbar__logo {
    width: 24rem;
  }
}

@media (max-width: 700px) {
  .navbar__buttons button {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

  .navbar__link {
    font-size: 1.6rem !important;
  }
}

@media (max-width: 600px) {
  .navbar__logo {
    width: 20rem;
  }

  .navbar__buttons button {
    font-size: 1.4rem;
    padding: 1rem;
  }
}
