.problemsListContainer {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: 4rem;
  position: relative;
}

.problemsListContainer__welcomeMessage {
  font-size: 5.2rem;
  color: var(--text-color);
  margin-bottom: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.problemsListContainer__welcomeMessage span {
  color: var(--secondary-color);
}

.problemsListContainer__pageNavigatorContainer {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--primary-color);
  margin-left: -4rem;
  display: flex;
  justify-content: flex-end;
  padding: 4rem;
}

@media (max-width: 1000px) {
  .problemsListContainer__welcomeMessage {
    font-size: 4.4rem;
  }

  .problemsListContainer {
    padding-right: 1.5rem;
  }
}

@media (max-width: 800px) {
  .problemsListContainer__welcomeMessage {
    font-size: 3.6rem;
  }
}

@media (max-width: 600px) {
  .problemsListContainer__welcomeMessage {
    font-size: 3rem;
  }
}

.problemsListContainer__invalidPageNumber {
  color: var(--text-color);
  font-size: 3.6rem;
  text-align: center;
}
